:root{
	--bg-body: aliceblue; /* to bg  body & lines in ball & color star */
	--bg-ball: darkblue;

}

body {
    display: flex;
    justify-content: center;
    background-color: var(--bg-body);
}

.circle {
    height: 500px;
    width: 500px;
    background-color: var(--bg-ball);
    border-radius: 250px;
    overflow: hidden;
    position: relative;
    transition: .5s;
}

.border-1 {
    height: 500px;
    width: 500px;
    border-radius: 250px;
    border: 10px solid var(--bg-body);
    position: absolute;
    top: -4%;
    left: 35%;
    transition: .5s;
}

.border-2 {
    height: 500px;
    width: 500px;
    border-radius: 250px;
    border: 10px solid var(--bg-body);
    position: absolute;
    top: -5%;
    left: 30%;
    transition: .5s;
}
.star {
    position: absolute;
    top: 15%;
    left: 48%;
    scale: 3;
    transition: .5s;
}
.circle:hover .border-1 {
position: absolute;
transition: .5s;
top: -10px;
left: -5px;
}
