@font-face {
    font-family: 'LeagueSpartan Regular';
    src: url(../Fonts/LeagueSpartan-Regular.ttf);
}
@font-face {
    font-family: 'LeagueSpartan Bold';
    src: url(../Fonts/LeagueSpartan-Bold.ttf);
}

body {
    background-image: url(../Media/bg-pattern-bottom-desktop.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Title-section h1 {
font-family: 'LeagueSpartan Bold';
color: hsl(300, 43%, 22%);
}

.Title-section p {
    font-family: 'LeagueSpartan Regular';
    font-weight: 400;
    color: hsl(300, 43%, 22%);
    fill-opacity: 20%;
}
.Title-section {
    width: 325px;
    display: flex;
    flex-direction: column;
    font-size: larger;
    padding: 30px;
}

.item-1 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 5%;
    width: 350px;
    height: 183px;
    padding: 30px;
    line-height: 18px;
    position: relative; bottom: 10px;
}

.item-2 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 5%;
    width: 350px;
    height: 183px;
    padding: 30px;
    line-height: 18px;
}

.item-3 {
    background-color: hsl(300, 43%, 22%);
    border-radius: 5%;
    width: 350px;
    height: 183px;
    padding: 30px;
    line-height: 18px;
    position: relative; bottom: -10px;
}

.buyer {
    font-family: 'LeagueSpartan Bold';
    color: white;
}

.verified {
    font-family: 'LeagueSpartan Regular';
    font-weight: 300;
    color: hsl(333, 80%, 67%);
}

.review {
    font-family: 'LeagueSpartan Regular';
    font-weight: 300;
    color: white;
}
.Bottom-section {
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-end;
}
img {
    float: left;
    padding-right: 20px;
    border-radius: 100%;
}

.first-review {
    background-color: lightpink;
    border-radius: 20px;
    width: 400px;   
    height: fit-content;
    padding: 15px;
}

.first-review p {
    font-family: 'LeagueSpartan Bold'; 
    display: inline;
}

.second-review {
    background-color: lightpink;
    border-radius: 20px;
    width: 400px;
    height: fit-content;
    padding: 15px;
    position: relative; left: 25px;

}

.second-review p {
    font-family: 'LeagueSpartan Bold';
    display: inline;
}

.third-review {
    background-color: lightpink;
    border-radius: 20px;
    width: 400px;
    height: fit-content;
    padding: 15px;
    position: relative; left: 45px;
}

.third-review p {
    font-family: 'LeagueSpartan Bold';
    display: inline;
}

.Reviews-sections {
    color: hsl(300, 43%, 22%);
    margin-top: 80px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}
.two-items {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 250px;
    justify-content: space-between;
    margin-left: 125px;
    margin-top: 40px;
    height: 250px;
}
span {
    padding-left: 10px;
    padding-right: 10px;
}