@font-face {
  font-family: "Opensans Regular";
  src: url(../Fonts/OpenSans-Regular.ttf);
}
*{
  box-sizing: border-box;
}
body {
  font-family: "Opensans Regular";
  font-size: 13px;
}
.contener{
  width: 60%;
  margin: 50px auto;

}
h1{
  text-align: center;
  font-size: xx-large;
}
.solve p{
width: 100%;
  min-height: 80px;
  height: fit-content;
  padding: 10px;
  margin: 0;
  /* border-top-right-radius: 5px;
  border-top-right-radius: 5px; */
}

.head p,
.footer p{
  height: fit-content;
  text-align: center;
  background-color:white;
  width: 70%;
  margin-bottom: 50px;
  font-size: 17px;
  margin: auto;
}
.solve{
  margin: 25px;
  display: flex;
  height: fit-content;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
img{
  padding-top: 15% ;
  margin: 0 10px;
}
.solve::after {
  content: "";
  width: 10px;
  height: 80px;
  background-color: aqua;
  position: relative;
  right: -15px;
}
@media(max-width:376px){
  .contener{
      width: 350px;
  }
  .solve{
      flex-direction: column;
      float: left;
  }
  .solve p{
      height: fit-content;
  }
  .solve div{
      display: none;
  }
  .head p,.footer p{
      width: 90%;
      margin: 50px auto;
  }
  .solve::after{
      content: none;
  }
  
  
  
}