@font-face {
    font-family: 'Poppins Regular';
    src: url(../Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(../Fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins Thin';
    src: url(../Fonts/Poppins-Thin.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(../Fonts/Poppins-SemiBold.ttf);
}
.introduction {
    line-height: 25px;
}
.title1 {
    font-family: 'Poppins Thin';
    text-align: center;
}
.title2 {
    font-family: 'Poppins Bold';
    text-align: center;
}
.introduction p {
    font-family: 'Poppins SemiBold';
    text-align: center;
    font-size: 16px;
}
.teambuilder {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px hsl(0, 78%, 62%) solid;
    border-radius: 10px;
    padding: 25px;
    align-content: center;
    order: 1;
}
.teambuilder h2 {
    font-family: 'Poppins Bold';
    color: hsl(0, 78%, 62%);
}
.teambuilder p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.teambuilder img {
    position: relative; left: 85%; top: 20%;
}
.calculator {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px hsl(212, 86%, 64%) solid;
    border-radius: 10px;
    padding: 25px;
}
.calculator h2 {
    font-family: 'Poppins Bold';
    color: hsl(212, 86%, 64%);
}
.calculator p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.calculator img {
    position: relative; left: 85%; top: 20%;
}
.supervaisor {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px hsl(34, 97%, 64%) solid;
    border-radius: 10px;
    padding: 25px;
    order: 2;
}
.supervaisor h2 {
    font-family: 'Poppins Bold';
    color: hsl(34, 97%, 64%);
}
.supervaisor p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.supervaisor img {
    position: relative; left: 85%; top: 20%;
}
.karma {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px hsl(180, 62%, 55%) solid;
    border-radius: 10px;
    padding: 25px;
}
.karma h2 {
    font-family: 'Poppins Bold';
    color: hsl(180, 62%, 55%);
    
}
.karma p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.karma img {
    position: relative; left: 85%; top: 20%;
}
.flex-box {
    width: auto;
    min-height: 850px;
    max-height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 50px;
}
.middle-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    gap: 25px;

}