@font-face {
    font-family: 'Poppins Regular';
    src: url(../Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins Bold';
    src: url(../Fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins Thin';
    src: url(../Fonts/Poppins-Thin.ttf);
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url(../Fonts/Poppins-SemiBold.ttf);
}
.introduction {
    line-height: 25px;
}
.title1 {
    font-family: 'Poppins Thin';
    text-align: center;
}
.title2 {
    font-family: 'Poppins Bold';
    text-align: center;
}
.introduction p {
    font-family: 'Poppins SemiBold';
    text-align: center;
    font-size: 16px;
}
.teambuilder {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px red solid;
    border-radius: 10px;
    padding: 25px;
    align-content: center;
    order: 1;
}
.teambuilder h2 {
    font-family: 'Poppins Bold';
    color: red;
}
.teambuilder p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.teambuilder img {
    position: relative; left: 85%; top: 20%;
}
.calculator {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px blue solid;
    border-radius: 10px;
    padding: 25px;
    order: 3;
}
.calculator h2 {
    font-family: 'Poppins Bold';
    color: blue;
}
.calculator p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.calculator img {
    position: relative; left: 85%; top: 20%;
}
.supervaisor {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px gold solid;
    border-radius: 10px;
    padding: 25px;
    order: 2;
}
.supervaisor h2 {
    font-family: 'Poppins Bold';
    color: gold;
}
.supervaisor p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.supervaisor img {
    position: relative; left: 85%; top: 20%;
}
.karma {
    background-color: white;
    box-shadow: 3px 3px 25px 2px gray;
    width: 500px;
    height: 250px;
    border-top: 5px cyan solid;
    border-radius: 10px;
    padding: 25px;
    order: 4;
}
.karma h2 {
    font-family: 'Poppins Bold';
    color: cyan;
    
}
.karma p {
    font-family: 'Poppins SemiBold';
    word-wrap: break-word;
}
.karma img {
    position: relative; left: 85%; top: 20%;
}
.flex-box {
    width: auto;
    min-height: 850px;
    max-height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: row wrap;
    gap: 50px;
}